/**
 * @description
 * This file contains the global styles for the application.
 * It is the entry point for Tailwind CSS and any base styles that should apply universally.
 *
 * Key features:
 * - Tailwind CSS Directives: Includes the base, components, and utilities layers from Tailwind.
 * - Base Styling: A place to define default styles for elements like `body` to set up the application's theme (e.g., dark mode background).
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

